body {
  background-color: #eee;
}

.container {
  background-color: #fff;
}

.loader {
  background: transparent url('images/ajax-loader.gif') top left no-repeat;
  display: block;
  height: 66px;
  margin: auto;
  width: 66px;
}

.loader-main {
  background-image: url('images/ajax-loader-gray.gif');
  clear: both;
  margin: 40px auto;
}

.program-top-image,
.program-image {
  max-width: 100%;
}

aside.participants h3 {
  background-color: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

aside.participants ul {
  padding: 0;
}

aside.participants ul li {
  border-bottom: 1px dashed #eee;
  list-style: none;
  padding: 5px 0;
}

ul.videos {
  padding: 0;
}

ul.videos li {
  list-style: none;
  margin-bottom: 20px;
}

ul.videos li h3 {
  margin-top: 0;
}

ul.videos li img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}

.pagination {
  width: 100%;
}

.pagination > div {
  display: inline-block;
  width: 49%;
}

.pagination a {
  cursor: pointer;
}

.pagination .prev {
  float: left;
  text-align: left;
}

.pagination .next {
  float: right;
  text-align: right;
}

