<h1>{{participant.name}}</h1>
<div class="loader" ng-hide="videos"></div>
<ul class="videos">
  <li ng-repeat="video in videos" class="row">
    <div class="col-md-3">
      <a ng-href="http://www.tv4play.se/program/idol?video_id={{video.id}}">
        <img ng-src="{{video.image}}">
      </a>
    </div>
    <div class="info col-md-9">
      <a ng-href="http://www.tv4play.se/program/idol?video_id={{video.id}}">
        <h3>{{video.title}}</h3>
      </a>
      <p>{{video.description}}</p>
    </div>
  </li>
</ul>

<div class="pagination">
  <div class="prev">
    <a ng-click="prevPage()" ng-if="hasPrevPage">Previous page</a>
  </div>
  <div class="next">
    <a ng-click="nextPage()" ng-if="hasNextPage">Next page</a>
  </div>
</div>
