<!DOCTYPE html>
<html lang="en" ng-app="idolApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Idol - tv4.se</title>

    <!-- Angular -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>

    <!-- Idol app -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/idol.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="ProgramCtrl" >
    <div class="loader loader-main" ng-hide="program"></div>
    <div class="container" ng-show="program">
      <div class="row">
        <nav class="social-media-nav">
          <ul>
            <li ng-show="program.facebook_page_url">
              <a href="{{program.facebook_page_url}}">Facebook</a>
            </li>
            <li ng-show="program.instagram_page_url">
              <a href="{{program.instagram_page_url}}">Instagram</a>
            </li>
            <li ng-show="program.twitter_page_url">
              <a href="{{program.twitter_page_url}}">Twitter</a>
            </li>
            <li ng-show="program.youtube_page_url">
              <a href="{{program.youtube_page_url}}">YouTube</a>
            </li>
          </ul>
        </nav>
        <a href="/#/home">
          <img class="program-top-image" ng-src="{{program.top_image.path}}">
        </a>
      </div>
      <div class="row">
        <aside class="participants col-md-3">
          <h2>{{program.participant_tab_text}}</h2>
          <div class="participant-group" ng-repeat="participant_group in program.participant_groups">
            <h3>{{participant_group.name}}</h3>
            <ul class="participant-list">
              <li ng-repeat="participant in participant_group.participants">
                <a ng-href="/#/participants/{{participant.person_tag}}">{{participant.name}}</a>
              </li>
            </ul>
          </div>
        </aside>
        <div ng-view class="col-md-9"></div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/lib/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/lib/bootstrap.min.js"></script>
  </body>
</html>
